<div class="col-sm-3" style="margin-top: 1rem">
    <div class="card">
        {% if product.image %}
        <img class="img-thumbnail" src="{{ product.image }}"
             style="height: 15rem; object-fit:contain">
        {% else %}
        <img class="img-thumbnail"
             src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930"
             style="height: 15rem; object-fit:contain">
        {% endif %}
        <div class="card-body">
            <a href="{% url 'product_detail' product.pk %}"><h6 class="card-title">{{ product.name }}</h6></a>
            <div class="card-footer">
                <p class="text-center" style="margin: 0; ">{{ product.rating }}</p>
            </div>
        </div>
    </div>
</div>